/* Navbar.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #1C1C1C;
  padding: 1rem;
  color: #E0E0E0;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-secondary)
}

.navbar-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 1rem;
}

.profile{
  margin-left:4em
}

.navbar-item a {
  text-decoration: none;
  color: #E0E0E0;
  transition: color 0.3s;
}

.navbar-item a:hover {
  color: #FF81D0;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    display: none;
    width: 100%;
  }

  .navbar-item, .profile {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-menu.active {
    display: flex;
  }
}


