#menu {
    background-color: var(--background-color-lighter);
    color: #fff;
    height: auto;
    padding-left: 18px;
    padding: 0em 3em;
  }

#menu * a {
    display: block;
    line-height: 45px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
  }

#menu a:hover {
    color: var(--text-secondary);
  }

#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 45px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }

#menu label {
    display: none;
    line-height: 45px;
    text-align: center;
    position: absolute;
    left: 35px;
  }

#menu label:before {
    font-size: 1.6em;
    content: "\2261";
    margin-left: 20px;
  }

.links {
    display: grid;
    grid-template-columns: 5em  9em 5em 4fr;
    align-items: center;
  }
  
.profile__container {
    align-self: center;
    justify-self: end;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
  }
  
.profile__container * {
    line-height: 45px;
    cursor: pointer;
  }

.profile__container img {
    border-radius: 10em;
    height: 3em;
  }

  @media screen and (max-width: 800px) {
    #menu {
      border-radius: 0;
    }
    #menu {
      position: relative;
    }
    .links {
      background: var(--foreground-color);
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 3;
      height: auto;
      display: none;
      padding: 0em 1em;
    }
    .links.sub-menus {
      width: 100%;
      position: static;
    }
    .links.sub-menus a {
      padding-left: 30px;
    }
    #menu li {
      display: block;
      float: none;
      width: auto;
    }
    #menu input,
    #menu label {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }
    #menu input {
      z-index: 4;
    }
    #menu input:checked + label {
      color: var(--background-color);
    }
    #menu input:checked + label:before {
      content: "\00d7";
    }
    #menu input:checked ~ .links {
      display: block;
    }
  }