:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --background-color: #1C1C1C; /* Fondo principal */
    --foreground-color: #E0E0E0; /* Color de texto principal */
    --background-color-lighter: #32005f; /* Fondo más claro */
    
    --text-primary: #E0E0E0; /* Texto primario */
    --text-secondary: #FF81D0; /* Texto secundario */
    --text-tertiary: #B3B3B3; /* Texto terciario */
    
    --action-primary: #FF14AF; /* Acción primaria */
    --action-secondary: #68A0B0; /* Acción secundaria */
    --hover-color: #FF81D0; /* Color de hover */
    
    --error-color: #E57373; /* Color de error */
    --success-color: #81C784; /* Color de éxito */
  
  
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-mono);
}

body {
  margin: 0;
  color: var(--text-primary);
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}


.root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.root > main {
  flex: 1;
  display: flex;
  flex-direction: column;
}